@media only screen and (max-width:600px) {
  .car,.carbg2,.carbg,#imgs{
    display: none !important; 
   width: 0;
   height: 0;
  }
  .imgbk{
    content: url("../public/-1_orig.jpeg");
  }
  .aa{
    display: block;
    margin-right: 0 !important;
    width: 10vw !important;
  }
  .forget{
    display: block;
    margin-right:0 !important;
    padding-left:9vw !important;

    width: 40vw !important;
  }
  .form-control{
    width: 100% !important;
  }
  .lab{
    margin-left: 0;
  }
  #right{
    margin-top: 15vw;
  }
  #left{
    display: flex;
    align-items: center;
  }
  .rme:before {
    
    top: 69%;
    padding-right: 2vw;
    height: 2.28vh;
    width: 1.9177159590043924vw;
}
.rme {
  padding-left: 4.5vw;
}
#button{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4vw;
}
 .but1{
  margin: 0 !important;
}
.scro{
  margin: 0 !important;
  height: 10vw !important;

}
.remem{
  margin-bottom: 5vw;
}

}


.imgbk{
  max-width: 100%;
  height: auto;
  background-position: right bottom ;
  background-size:cover;
  position:absolute;
  filter:brightness(.19);
}

.pic2 {
  margin-left: 4vw;
  height:47.8vh;
}
.pic2h {
  margin-left: 2vw;
  height:47.8vh;
  transform: scaleX(-1);
}
.home{
  margin-top: 30%;
}
.home2{
  margin-top: 4%;
}

.but1{
 color: #b9afaf;
 width: 61%;
 margin-top: 0%;
 margin-left: 30%;
 font-size: 125%;
 margin-bottom: 2.4vh;
 }
.but2{
  color: #b9afaf;
  width: 61%;
  margin-top: 1%;
  margin-left: 37%;
  font-size: 115%;
  margin-bottom: 2.4vh;
}
.btnlog{
  margin-top: 1%;
  margin-left: 35%;
  width: 25%;
  height: 2.1em;
  background: #007AFF;
  border-radius: 50px;
  border: 0;
  font-size: 20px;
  color: #FFFFFF;
}
.btnlog1{
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 35%;
  width: 25%;
  height: 2.1em;
  background: #007AFF;
  border-radius: 50px;
  border: 0;
  font-size: 20px;  
}


.carbg{
 position: absolute;
 top: 2%;
 background: radial-gradient(50% 50% at 50% 50%, #007AFF 0%, rgba(0, 122, 255, 0) 100%);
 border-radius: 0px 10px 10px 0px;
 width:40vw;
 height:95vh;
 border-radius: 50%;
}
.carbg2{
 position: absolute;
 top: 2%;
 background: radial-gradient(50% 50% at 50% 50%, #007AFF 0%, rgba(0, 122, 255, 0) 100%);
 border-radius: 0px 10px 10px 0px;
 width:40vw;
 height:95vh;
 border-radius: 50%;
} 
  
#left,#right {
  width: 40%;
  position: relative;
  filter:brightness(1);
}
#left2 {
  width: 40%;
  position: relative;
  filter:brightness(.7);
  animation-name: example;
  animation-duration: 10s;
}
@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:50%; top:0px;}
}

#right2{
  width: 40%;
  position: relative;
  filter:brightness(.7);
  animation-name: example2;
  animation-duration: 10s;
}
  @keyframes example2  {
  0%   { right:0px; top:0px;}
  25%  { right:50%; top:0px;}
}


#imgs{
  width: 40vw;
  position: relative;
  filter:brightness(1);
}
#imgs2{
  width: 40%;
  position: relative;
  filter:brightness(0.7);
  animation-name: example2;
  animation-duration: 10s;
}
@keyframes example2 {
  0%   { right:0px; top:0px;}
  25%  { right:50%; top:0px;}

}
.car{
  position: absolute;
top: 25vh;
}
.forget,.aa{
text-decoration:underline;
text-decoration-skip-ink:none;
margin-right:  6.588579795021962vw;
}
.formlogin{
  top: 12vw;
  right: 52vw;
  width: 40vw;
  }