@media only screen and (min-width:200px) and (max-height:600px) {
  .card{
    height: 55vh !important;
    width: 34vw !important;
  }
  .grid-container {
    gap: 12% !important;
}
  .navigation{
    width: 21vw !important;
  }
  .imagecover{
    object-fit: fill !important;
    height: auto !important;
  }

.Marketheader {
  margin-left: 16vw !important;
}
#cards{
  display: flex ;
  flex: 100 100 auto !important;
  margin-left: 8vw !important;
  
}
.cardp{
  flex: 100 100;
  width: 30vw;
  margin-left: 4vw;
}
.imagecover {
  object-position: 0% 85% !important;
}
.nav-item{
  margin-bottom: 2vh;
}
#item,#car,#access,#parts{
  width: 23vw;
}
.marketheadnav3{
  width: 13.5vw !important;
  height: 7.8vh !important;

  margin:1vh 0 0 6vw;
}
.prodid {
  width: 78vw !important;
  height: 100vh !important;
  background: linear-gradient(180deg, #000000 100.62%, rgba(66, 65, 65, 0.1) 100%) !important;
}
.no1, .no2, .no3 {
    width: 17.5vw !important;
}
.footerI{
  width: 85vw !important;
}
.buy{
  height: 7vh !important;
}
}
@media only screen and (max-width:600px)and (min-height:600px) {
  .navigation{
    width: 19vw !important;
  }
  .imagecover{
    object-fit: fill !important;
    height: auto !important;
  }

.Marketheader {
  margin-left: 16vw !important;
}
#cards{
  display: flex ;
  flex: 100 100 auto !important;
  margin-left: 8vw !important;
  
}
.cardp{
  flex: 100 100;
  width: 30vw;
  margin-left: 4vw;
}
.card{
  width: 36vw !important;
  height: 45vh !important;
}
.imagecover {
  object-position: 0% 85% !important;
}
.nav-item{
  margin-bottom: 2vh;
}
#item,#car,#access,#parts{
  width: 23vw;
}
.marketheadnav3{
  width: 13.5vw !important;
  height: 7.8vh !important;

  margin:1vh 0 0 0;
}
.prodid {
  width: 80vw !important;
  height: 100vh !important;
  background: linear-gradient(180deg, #000000 100.62%, rgba(66, 65, 65, 0.1) 100%) !important;
}
.no1, .no2, .no3 {
    width: 17.5vw !important;
}
.footerI{
  width: 85vw !important;
}
.buy{
  height: 7vh !important;
}
}


.bgmarket{
    background-color: #000000;
    height: auto !important;
    min-height: 100%;
  }
    .navigation{
    position:fixed;
    width: 6vw;
    height: 100vh;
    background: linear-gradient(180deg, #000000 -156.62%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 0px 20px 20px 0px;
  }

    .cont{
      margin-left:5vw;
  }
    .card{
      width:23vw;
      height: 55vh;
      background: linear-gradient(180deg, #000000 -156.62%, rgba(255, 255, 255, 0.1) 100%);
  }
 
    /* .card2{
      border-radius: .5vw;
      width:20vw;
      height: 35vh;
      background: linear-gradient(180deg, #000000 -156.62%, rgba(255, 255, 255, 0.1) 100%);
  } */
    .foter{
      font-weight: 12px;
      font-size: 12px;
  }
    .Marketheader{
      margin-left: 4vw;
      margin-top: 4vh;
      font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
.Marketheader2{
  float:right;
}
.namemarket{
  width: 22vw;
  height: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #BBBBBB;
}
/* for details page */
.marketheadnav4{
  border-radius: 5.856515373352855vw;
  height: 8vh;
  width: 12.5vw;
  border: 0;
  color: #FFFFFF;
  background: #141414;
  margin: 0px 12px;
  transition-delay: 0.03s;
}
/* /////////// */
.marketheadnav2{
  border-radius: 5.856515373352855vw;
  height: 8.6vh;
  width: 17.569546120058565vw;
  border: 0;
  color: #FFFFFF;
  background: #141414;
  margin: 0px 20px;
  transition-delay: 0.03s;
}
.marketheadnav2:hover,.marketheadnav4:hover{
  background: #5591ff;
  color: #141414;
}
/* for details page */
.marketheadnav33{
  border-radius: 5.856515373352855vw;
  height: 8.5vh;
  width: 4vw;
  border: 0;
  background:linear-gradient(#FFFFFF,#000000);
  transition:  transform .7s;

}
/* //////////// */
.marketheadnav3{
  border-radius: 5.856515373352855vw;
  height: 9vh;
  width: 4.169546120058565vw;
  border: 0;
  background:linear-gradient(#FFFFFF,#000000);
  transition:  transform .7s;
}
.marketheadnav3:hover,.marketheadnav33:hover{
  background:linear-gradient(#000000,#FFFFFF);
}

.grid-container{
  display: grid;
  gap: 15%;
}

  /* Icons  */

.icon{
  font-size:300% ;  
  margin:0 20%; 
}
.icon:hover{
  color: #6887c2;
}
.icon:active{
  color: #296eec;
}

.iconFilter{
  font-size:220% ;  
  color: black;
}
.iconFilter:hover{
  color:white;
}

.iconexit{
  color: #881616;
  font-size:350% ;  
  margin:0 15%;
}
.iconexit:hover{
  color: #f10303;
}
/* ////////////////////////// */

  /* Search icon  */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 7vh;
  background-color: #1e2025;
  border-radius: 30px;
}
.search_input {
  font-size:x-large;
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 0;
  transition: width 0.4s linear;
}
.searchbar:hover > .search_input {
  padding: 0 20px;
  width: 30vw;
  caret-color: white;
  transition: width 0.5s linear;
}
.searchbar:hover > .search_icon {
  color: #545de2;
}
.search_icon {
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
#exit{
  padding-top: 40%;
}
/* /////////////////////////// */

/* Popup  */
.container{
  width: 100%;
  height: 100vh;
  background: #3c5077;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2{
  width: 100%;
  height: 10vh;
  background: #3c5077;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}
.popup{
  width: 350px;
  height: 250px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding:0 30px 30px ;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility: visible;
top: 50%;
transform: translate(-50%,-50%) scale(1);
}
.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h1{
  color: #000000;
  font-size: 38px;
  font-weight: 500;
  margin: 5px 0 10px;
}
.popup button{
  width: 50%;
  margin-top: 1px;
  padding: 5px 0;
  background:#3b7cf3;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

}
/* ///////////////////////////// */

  .imagecover{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: 20% 85%;
  }
  .noink{
    text-decoration: none;
  }
  .MuiRating-iconFilled{
    color: #FFD700;
  }
  .MuiRating-iconEmpty{
    border-color:#FFD700;
  }
  .prodid{
    width: 25vw;
    height:86.2vh ;
    position:fixed;
    right: 0%;
    background: linear-gradient(180deg, #000000 -156.62%, rgba(66, 65, 65, 0.1) 100%);
    border-radius:2vw 2vw .2vw .2vw;
    margin:1% 1% 1% 0 ;
    overflow-y:scroll;
  }
  ::-webkit-scrollbar{
    width: 0;
  }
  .part1{
    background: linear-gradient(180deg, #000000 -156.62%,rgba(124, 114, 114, 0.1) 100%);
    border-radius:1vw 1vw .2vw .2vw;
  }
  .part1 h1{
    text-align: center;
  }
  .part2{
    background: linear-gradient(180deg, #000000 -156.62%,rgba(150, 146, 146, 0.1) 100%);
    border-radius: .2vw;
    margin-top: 1%;
  }
  .part2 h5  {
    padding: 2% 5% 0 5%;
    font-size: 20px;
    color: white;
  }
  .seemore:hover{
    cursor: pointer;
    color:rgb(25, 139, 247);
  }
  .part2 p {
    padding: 2% 5% 0 5%;
    margin: 0;
    font-size: 12px;
    color: white;
  }
  .part3{
    background: linear-gradient(180deg, #000000 -156.62%, rgba(124, 114, 114, 0.1) 100%);
    border-radius: .2vw;
    margin-top: 1%;
  }

  .part3 h5  {
    padding: 2% 5% 0 5%;
    font-size: 20px;
    color: white;
  }
  .part3 hr {
    color: white;
    width: 15vw;
    margin: 5% auto 0 20%;
  }
  .revicon{
    border: solid 1px white;
    border-radius: 50%;
    font-size: 150%;
    color: white;
  }
  .rev1{
    display:flex;
  }
  .part3 p {
    padding: 2% 5% 0 5%;
    margin: 0;
    font-size: 12px;
    color: white;
  }
  .part3 h6 {
    padding: 2% 5% 0 5%;
    margin: 0;
    color: white;
  }
  .part4{
    background: linear-gradient(180deg, #000000 -156.62%,rgba(150, 146, 146, 0.1) 100%);
    border-radius: .2vw;
    border-radius:.2vw .2vw 2vw 2vw;
    height: 9vh;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
  }
  .price{
    padding: 4% 0 0 10%;
    font-size: 21px;
    color: white;
    animation: mymove 3s infinite;
  }
  @keyframes mymove{
    0% {padding: 4% 0 0 10%; font-size: 21px;}
    50% {padding: 4.5% 0 0 10%; font-size: 25.5px; color: #14eb38;}
  }
  .buy{
    margin-top: 3%;
    margin-right: 15%;
    width: 36%;
    height: 1.8em;
    background: #007AFF;
    border-radius: 50px;
    border: 0;
    font-size: 19px;
    color: #FFFFFF;
  }
  .buy:hover{
    margin-top: 3%;
    margin-right: 15%;
    width: 36%;
    height: 1.7em;
    background: #02941a;
    border-radius: 50px;
    border: 0;
    font-size: 21px;
    color: #FFFFFF;
  }

  .footerI{
    position: fixed;
    bottom: 2%;
    width: 25vw;
  }
  /* ////////////////////////// */
  .im{
    border-radius: 1vw;
  }
  .cd{
    width:18vw;
    height: 45vh;
  }
  .nameproduct{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5px;
    text-align: center;
    color: #BBBBBB;
  }
  
  .activee, .dot:hover {
    height: 10px;
    width: 10px;
    background-color: #717171;
    transition: 0.2s ease;

  }

 
/* 3 Div under Images */
.nos{
  margin:3% 0 0 0;
display: flex;
justify-content: center;
padding-bottom: 2%;
}
.no1,.no2,.no3{
width: 5.5vw;
height: 10.5vh;
border:solid 2px white ;
border-radius: 10%;
margin-left: 3%;
}
.iconI{
  font-size:150% ;  
  margin:10% 35%; 
  color: white;
}
.iconI2{
  font-size:150% ;  
  margin:5% 35%; 
  color: white;
}
.icontext{
  font-weight: 22px;
  font-size: 10px;
  text-align: center;
}
/* ///////////////////////// */
.dropdown {  
  position: absolute;  
  display: inline-block;  
}  

/* provide css to background of list items */   
#list-items {  
 display: none;  
 z-index: 1;
 position: absolute; 
 margin-top: 10%;
 margin-left: -250%; 
 background-color: #141414;  
 min-width: 200px;  
 border-radius: 5px;
}  
/* provide css to list items */   
#list-items button {  
  display: block; 
  border: none;
  width: 15vw; 
  font-size: 20px;  
  color: #FFFFFF; 
  background-color: #141414; 
  text-decoration: none;  
  border-radius: 5px;
  padding:10px;
}
#list-items button:hover ,#list-items button:active {  
  background-color: #515151;  
}
/* /////////////ADD PRODUCT////////////////////////// */
.inputAddPro{
  display: block;
  width: 100%;
  padding: 1.2%;
  padding-left: 3%;
  color:#FFFFFF;
  box-sizing: border-box;
  background:none;
  border: 1px solid #FFFFFF;
border-radius: 0.9vh;
}
.inputAddPro1{
  width: 115%;
}
.inputAddPro2{
  width: 168%;
}
.inputAddPro3{
  width: 15vw;
  height: 7.1%;
}
.inputAddPro:focus{
  outline: none !important;
  border:1px solid blue;
}

.labelCondition{
  padding:0 15% 0 0;
}

.inputCondition{
  appearance: none;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  width: 1.1vw;
  height: 2.5vh;
  content: none;
  outline: none;
  border-radius: 100%;
  margin:4% 2% 0 0%;
}
.inputCondition:checked{
  appearance: none;
  border-radius: 100%;
  outline: none;
  content: none;
border: none;
}
.inputCondition:checked::before{
position: absolute;
background: none;
border-radius: 100%;
color: rgb(34, 18, 248)  !important;
  content: "\00A0\2713\00A0" !important;
  border: 1px solid #d3d3d3;
font-weight: bolder;
font-size: 12px;
}

.input3{
display: flex;
justify-content:space-between;
}

#inputCategory{
  color: white;
  background-color: black;
}
.vl{
  border-left: 1px solid white;
  height: 110.5%;
  position: absolute;
  left: 43%;
  margin-left: -1%;
  top: 0;
}

.sika{
  margin-left: 10%;
  }
  
.addrightside, .smallCont{
   width: 31vw;
}
.reent{
  margin-top: 20%;
}

.bigCont{
  display: grid;
  column-gap: 15%;
  grid-template-columns: auto auto auto; 
}
/* /////////////IMAGE INPUT///////////////// */
.imginput{
  display: grid;
  column-gap: 1.5%;
  grid-template-columns: auto auto auto;  
}

.drag-area{
  height: 35vh;
  border: 1px dashed #e0eae0;
  width: 17vw;
  background: #1e2025;
  border-radius: 1vh;
  box-shadow: rgba(149, 157, 165,0.125) 0px 8px 24px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border:1px solid blue;
}
.drag-areaSup.active{
  border:1px solid blue;
}
.drag-area img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.drag-areaSup img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.drag-areaSupq{
  display: grid;
  row-gap: 2.5%;
  grid-template-columns: auto auto auto; 
}
#img3{
  grid-column-start: 1;
  grid-column-end: 4;
}
  .drag-areaSup{
  height: 17vh;
  border: 1px dashed #e0eae0;
  width: 17vw;
  background: #1e2025;
  border-radius: 1vh;
  box-shadow: rgba(149, 157, 165,0.125) 0px 8px 24px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.iconimg{
  font-size: 2vw;
  color: #d3d3d3;
}
.drag-areaSup .iconimg{
  font-size: 1.5vw;
  color: #d3d3d3;
}

.header{
font-size: 15px;
font-weight:500;
color: #8d8f92;
}
.drag-areaSup .header{
font-size: 12px;
font-weight:500;
color: #8d8f92;
}

.button{
  font-size: 15px;
font-weight:500;
color: #1683ff;
cursor: pointer;
}
.drag-areaSup .button{
  font-size: 12px;
}
.location{
  width: 130%;
}

.btnAdd{
  width: 20vw;
  height: 7vh;
  border-radius: 2vw;
  font-size: larger;
  font-weight: 700;
  background:#2465df;
  border: 0;
  color:#FFFFFF;
  margin-left: 50%;
  box-shadow: rgba(149, 157, 165,0.3) 0px 8px 24px;
}
.btnAdd:active{
  background:#1447a7;
  border-width: 2px;
  position: relative;
  top: 1px;
  box-shadow: none
}

.rnt{
  margin-left: 10%;
  margin-top: 150%;
}

.loc{
  display: grid;
  grid-template-columns:100% auto; 
column-gap:33% ;
}
.locationIcon{
  font-size: 2.5vw;
  color: #FFFFFF;
  margin-top: 1.9vw;
}
/* Rent
/////////////////////////////////////////
*/
.favoo:hover{
color:transparent;
}
#checkfavo:hover{
  color:red;
}
.pricerent{
  padding: 4% 0 0 10%;
  font-size: 21px;
  color: white;
  animation: mymove2 3s infinite;
}
@keyframes mymove2{
  0% {padding: 4% 0 0 10%; font-size: 21px;}
  50% {padding: 2% 0 0 10%; font-size: 23.0px; color: #14eb38;}
}


.torent {
  position: absolute;
  font-family: monospace;
  background-color: #f3f7fe;
  color: #030303;
  border: none;
  border-radius: 8px;
  width: 10vw;
  height: 4vh;
  transition: .3s;
  font-size: 15px;
text-align: center;
margin: -2.8% 0% 0% 22%;
}
.toupload{
  margin: -2.8% 0% 0% 25%;
}
.torent:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
